* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Open Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid steelblue;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    order: 2
}

#tittle {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    order: 1
}

.navbar {
    order: 3
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    list-style: none;
}

.menu li {
    margin: 0 5px;
}

.menu li a {
    font-weight: 400;
    text-decoration: none;
}

.content {
    width: 100%;
    max-width: 800px;
    padding: 20px 10px;
    border: 1px solid greenyellow;
    text-align: center;
}

.h1 {
    margin-bottom: 1.6rem;
}

.texto {
    line-height: 1.8rem;
    margin-bottom: 1.6rem;
}

.clay {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 15px;
}

.clay img {
    width: 100%;
}

.routes {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    border: 1px solid greenyellow;
}

.routes h2 {
    margin: 15px 15px;
    font-size: 2.3rem;
    text-align: center;
    padding-bottom: 1rem;
}

.box {
    width: 100%;
    max-width: 333px;
    padding: 8px 8px;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    border: 1px solid rgb(252, 255, 47);
}

h3 {
    font-size: 1.8rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.routes-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: auto;
}

.routes-images img {
    width: 100%;
    max-width: 278px;
    height: auto;
}

.figcaption {
    font-size: 1rem;
}

.footer {
    display: flex;
    height: 50px;
    padding: 10px;
    border: 1px solid orange;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-weight: 700;
}
