* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #003049;
}

html {
    font-size: 62.5%;
    font-family: Open Sans, Helvetica Neue, sans-serif;
}

body {
    font-size: 1.6rem;
}

header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid steelblue;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo strong {
    margin-left: 5px;
    font-size: 3rem;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    font-weight: 700;
    text-decoration: none;
    margin: 0 5px;
}

.menu a {
    font-weight: 700;
    color: whitesmoke;
    background-color: rgb(192, 125, 0);
    font-size: 1.6rem;
    padding: 0.5rem 0.6rem;
    border-radius: 0.4rem; 
    text-decoration: none;
    height: 2.2rem;
    flex-basis: 2.2rem;
    flex-wrap: wrap;
}

.menu a:hover {
    color:rgb(207, 230, 78);
    background-color: rgb(72, 19, 122);
}

.menu a:active {
    color: #7a0909;
    background-color: rgb(137, 57, 212);
}

.menu a::after {
    content: " | ";
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.c {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid greenyellow;
    text-align: center;
}

.clay {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 15px;
}

.clay img {
    width: 100%;
}

/*.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    min-width: 150px;
    height: 150px;
}*/


