.header {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    order: 1
}

#tittle {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    order: 2
}

.navbar {
    order: 3
}
  
  .content .texto {
    width: 100%;
    max-width: 768px;
    margin-bottom: 1.6rem;
  }